@model IEnumerable<Data.Models.Artwork>
@{
    ViewData["Title"] = Model.FirstOrDefault().Category.Name;
}

<script src="~/lib/jquery/jquery.lazyload.min.js"></script>
<div class="row">
    @foreach (var artwork in Model)
    {
        <div class="col-md-4 col-sm-6 mb-5">
            <a href="~/images/artwork/@artwork.ImageName" data-lightbox="artwork" data-title="@artwork.Title">
                <img data-original="/images/artwork/@artwork.ImageName" class="artwork-item" alt="@artwork.Title" />
            </a>
        </div>
    }
</div>

<script>
    $(function () {
        $("img.artwork-item").lazyload({
            effect: "fadeIn"
        });
    });

    lightbox.option({
        'showImageNumberLabel': false,
        'positionFromTop': 90,
        'resizeDuration': 500
    })
</script>