@model Ivelinshirov.Models.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="~/css/email-form.css" />
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <h3 class="mb-3">Send an Email</h3>
        <form asp-action="Index" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Message" class="btn col-md-12 mt-2" />
            </div>
            @if (ViewBag.Success != null && ViewBag.Success)
            {
                <div class="success-text">
                    Email has been sent.
                </div>
            }
        </form>
    </div>
</div>