@{
    ViewData["Title"] = "Ivelin Shirov";
}

<script type="text/javascript" src="/js/responsiveslides.min.js"></script>

<div class="home-image">
    <h5 class="home-title text-muted mb-2">Paintings, Drawings, Hyper Realistic Art</h5>
    <img src="~/images/artwork/p22129445405.jpg" style="width: 100%; height: auto;" />
</div>