@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.StatusCode == 404)
{
    <h1>404</h1>
    <h2 class="text-muted">Page not found.</h2>
}
else
{
    <h1>Something went wrong.</h1>
    <h2 class="text-muted">Please try again later.</h2>
}