@model Data.Models.Biography
@{
    ViewData["Title"] = "About";
}

<div class="row justify-content-md-center">
    <div class="image-box mb-3 col-12">
        <img class="bio-image" src="~/images/bio_photo.png"/>
    </div>
    <div class="col-12">  
        @Html.Raw("<pre class='bio-text'>" + Html.Encode(Model.Text) + "</pre>")  
    </div>
</div>