.form-control {
    border: 1px solid #000;
    border-radius: 0;
}

.btn {
    border: 1px solid #000;
    border-radius: 0;
    background-color: #000;
    color: #fff;
}

.btn:hover {
    background-color: #1f1f1f;
    color: #fff;
}

textarea {
    min-height: 100px;
    max-height: 300px;
}

label {
    color: #666;
}

.success-text{
    color: #008a12;
}