/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-item .active {
    color: #606060;
}

.navbar-light .navbar-nav .nav-link-admin {
    font-weight: normal;
}

.navbar {
    margin-bottom: 1%;
}

@media(max-height: 800px) {
    .navbar {
        margin-bottom: .5%;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

footer .container {
    color: #999999;
}

footer .container a {
    color: #999999;
    text-decoration: none;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-size: 14px;
}

.logo {
    text-align: center;
}

.admin-grid-item-image {
    width: 90%;
}

.save-order-button {
    visibility: hidden;
}

.artwork-item {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}

.sortable-grid {
    overflow: auto;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sortable li {
    padding: 5px;
    float: left;
    text-align: center;
}

.bio-text {
    font-size: 20px;
    text-align: left;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #222222;
}

.home-container {
    width: 70%;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .bio-text {
        font-size: 14px;
    }

    .home-container {
        width: 100%;
    }

    .logo {
        width: 60%;
        margin: auto;
    }

    .logo img {
        width: 100%;
    }

    .artwork-item {
        width: 100%;
    }
    .navbar {
        margin-bottom: 1%;
    }
}

.bio-image {
    max-width: 100%;
    height: auto;
}

.image-box {
    text-align: center;
}

.logo {
    padding-bottom: 5px;
}

.rslides {
    height: 70vh;
}

.rslides img {
    min-height: 100%;
}