/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link {
    color: #000;
    font-weight: normal;
    font-size: 18px;
}

.nav-link:hover,
.active {
    color: #606060;
}

.nav-link-admin {
    font-weight: normal;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

footer .container {
    color: #999999;
}

footer .container a {
    color: #999999;
    text-decoration: none;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 15px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
   /* line-height: 60px;*/ /* Vertically center the text there */
    font-size: 14px;
}

.logo {
    text-align: left;
}

.logo img {
    max-width: 100%;
}

hr {
    border: solid #dddddd;
    border-width: 2px 0 0;
    clear: both;
    height: 0;
}

.admin-grid-item-image {
    width: 90%;
}

.save-order-button {
    visibility: hidden;
}

.artwork-item {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.sortable-grid {
    overflow: auto;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sortable li {
    padding: 5px;
    float: left;
    text-align: center;
}

.bio-text {
    font-size: 20px;
    text-align: left;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #222222;
}

.home-container {
    width: 100%;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .bio-text {
        font-size: 14px;
    }
    .nav {
        margin-bottom: 2%;
    }
}

.bio-image {
    max-width: 100%;
    height: auto;
}

.image-box {
    text-align: left;
}

.rslides img {
    min-height: 100%;
}

.footer-text {
    text-align: center;
    color: #aaa;
    font-size: 14px;
}

.footer-text > a {
    color: #aaa;
    text-decoration: none;
}